body, header, section, footer{
    width: 100%;
}

.container, .jumbotron{
    margin: 0;
    padding: 0;
}

header.top{
    background-color: #024906;
    border-bottom: solid 2px #024906;
    padding: 10px;
    color: #FFFFFF;
}

.logo {    
   margin:5px;
}

section{
  width: auto;
}

footer.bottom{
    background-color:#024906;
    color: #FFFFFF;
    height: 80px;
}

br{
    clear: both;
}


/* Login Style*/

.login{
  margin-left:35%;
}

.login>header{
    width: 98%;
    padding: 2%;
    background-color: #daf7dc;
    border-bottom: 2px solid #024906;
    font-weight: bold;
    font-size:16px;
}
.login>footer{
    padding:12px;
    background-color: #daf7dc;
    font-size: 12px;
    width: 98%;
    padding: 2%;
}

.login>section{
   width: 98%;
   padding: 2%;
   height: auto;
}

.top20Space {
    margin-top: 20px;
}

.bottom20Space {
    margin-bottom: 20px;
}


/* Login Style*/