 <header class="jumbotron top">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 pull-left">
                <img src="image/Logo.png" class="logo" />
            </div>
            <div class="col-lg-1 pull-right  " style="width: auto;">
                <label id="lblLoggedUser">Vijay Chauhan</label>
                <i class="fa fa-caret-down" ></i>
            </div>
        </div>
    </div>
</header>
<br />
<section>
    <router-outlet></router-outlet>
</section>
<br />
<footer class="bottom">&nbsp;</footer>
<br />