 <div class="container center-block ">
    <div class="row">
        <article class="col-lg-4 col-md-8 col-sm-8 col-xs-12 login">
            <header>Login</header>
            <section>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-circle"></i></span>
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="userName"
                    aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password"
                    aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="btn-group">
                    <button type="button" (click)="authenticate()" class="btn btn-default">Login </button>
                </div>
            </section>
            <footer>
                <div class="input-group">
                    <input type="checkbox"  [(ngModel)]="rememberMe">
                    <span>
                        Remember me.
                    </span>

                </div>
            </footer>

        </article>
    </div>

</div>